*{
    margin: 0;
    padding: 0;
}
.cointainer-item{
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 100px;
    padding-left: 200px;

}
.card-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
}
.card-item img{
    border-radius: 10px;
    padding-bottom: 10px;
    border: none;
    object-fit: cover;
    width: 395px;
    height: 320px;
}
.list-group{
    display: flex;
    flex-direction: column;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content:start ;
    width: 300px;
    gap: 5px;  
}
.card-link{
    background-color: lightgreen;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.card-link:hover{
    border: 2px black;
    background-color: aqua;
}
b{
    gap: 10px;
}
@media (max-width: 1024px) {
    .cointainer-item{
        width: 80%;
    }
    .card-item{
        margin: 15px;
        font-size: 18px;
    }
    
}
@media (max-width: 768px ) {
    .cointainer-item{
        padding: 10px;
      width: 100%;
    }

}
